.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 200px;
    border: 1px solid #5e5e5e;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    align-items: center;
    background-color: #eafffc;
} 

.input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    border: 1px solid #5e5e5e;
}

.button {
    padding: 5px;
    margin-top: 10px;
    width: 50%;
    border-radius: 5px;
}
